input[type=text], input[type=email], input[type=password] {
  border: 0;
  border-radius: 0;
  color: #000;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px;

  &::-webkit-input-placeholder {
    color: $backgroundColor;
  }
  &::-moz-placeholder { 
    color: $backgroundColor;
  }
  &:-ms-input-placeholder {
    color: $backgroundColor;
  }
  &:-moz-placeholder {
    color: $backgroundColor;
  }

  @media screen and (max-width: $sm) {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  } 
}

button, input[type=submit], input[type=button], input[type=reset] {
  background-color: $primaryColor;
  border: 1px solid $secondaryColor;
  border-radius: 0;
  box-shadow: none;
  padding: 5px 10px;

  &:hover {
    background-color: $fontColor;
    color: $backgroundColor;
  }

  @media screen and (max-width: $sm) {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  } 
}