body {
  @include backgroundGradient();
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas: "Header" "Content" "Footer";
  height: 100vh;
  margin: 0;

  @media screen and (max-width: $sm) { 
    grid-template-rows: auto 1fr 100px;
  }
}