doctype html
html
  include ./head.pug
  body
    header
      nav
        if login
          ul
            li
              a(href="/") Home
            li
              a(href="/watchlist") Watchlist
            li
              a(href="/auth/logout") Logout