include includes/header.pug
main(class=mainClass)
  h1 404 - Not found
  img(src="https://media.giphy.com/media/IHOOMIiw5v9VS/giphy.gif", alt="A gif of two people who ain't found shit.")
include includes/footer.pug